@media screen and (min-width: 900px) {
  .outer_div {
    background-color: rgb(3, 3, 37);
    padding: 20px 10vw;
  }
  .cards_div {
    height: 610px;
    padding: 20px 0vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
  }
  .outer_div h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: rgb(244, 194, 153);
  }
  .outer_div h2 {
    font-size: 28px;
    display: flex;
    justify-content: center;
    color: rgb(244, 194, 153);
  }
  .divider {
    height: 3px;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: center;
  }
  .divi {
    margin-top: 10px;
    height: 2px;
    width: 50%;
    background-color: rgb(244, 194, 153);
  }
}

@media screen and (max-width: 900px) and (min-width: 520px) {
  .outer_div {
    background-color: rgb(3, 3, 37);
    padding: 30px 3vw;
  }
  .cards_div {
    padding: 20px 2vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
  }
  .outer_div h1 {
    font-size: 34px;
    display: flex;
    justify-content: center;
    color: rgb(244, 194, 153);
  }
  .outer_div h2 {
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    color: rgb(244, 194, 153);
  }
  .divider {
    height: 3px;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: center;
  }
  .divi {
    margin-top: 10px;
    height: 2px;
    width: 50%;
    background-color: rgb(244, 194, 153);
  }
}

@media screen and (max-width: 520px) {
  .outer_div {
    background-color: rgb(3, 3, 37);
    padding: 30px 2vw;
  }
  .cards_div {
    height: 1320px;
    padding: 20px 2vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
  }
  .outer_div h1 {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    color: rgb(244, 194, 153);
  }
  .outer_div h2 {
    font-size: 21px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    color: rgb(244, 194, 153);
  }
  .divider {
    height: 3px;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: center;
  }
  .divi {
    margin-top: 10px;
    height: 2px;
    width: 50%;
    background-color: rgb(244, 194, 153);
  }
}
