@media screen and (min-width: 900px) {
  .outer_div {
    background-color: rgb(202, 195, 209);
    padding: 40px 5vw;
  }
  .cards_div {
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .outer_div h1 {
    font-size: 46px;
    display: flex;
    justify-content: center;
    color: rgb(165, 165, 4);
  }
  .outer_div h2 {
    font-size: 36px;
    display: flex;
    justify-content: center;
    color: rgb(60, 58, 53);
  }
}

@media screen and (max-width: 900px) and (min-width: 520px) {
  .outer_div {
    background-color: rgb(202, 195, 209);
    padding: 30px 3vw;
  }
  .cards_div {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .outer_div h1 {
    font-size: 40px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    color: rgb(165, 165, 4);
  }
  .outer_div h2 {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    color: rgb(60, 58, 53);
  }
}

@media screen and (max-width: 520px) {
  .outer_div {
    background-color: rgb(202, 195, 209);
    padding: 30px 2vw;
  }
  .cards_div {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .outer_div h1 {
    font-size: 35px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    color: rgb(165, 165, 4);
  }
  .outer_div h2 {
    font-size: 25px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    color: rgb(60, 58, 53);
  }
}
