@media screen and (min-width: 900px) {
  .outer_div {
    width: 80%;
    background-color: rgb(18, 20, 58);
    box-shadow: rgb(83, 70, 70) 1px 1px 1px 1px;
    border-radius: 3px;
  }
  .pic {
    height: 130px;
    width: 100%;
    margin: 10px;
    padding: 22px;
    color: rgb(175, 175, 93);
  }
  .heading {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: rgb(53, 49, 92);
  }
  .heading h3 {
    font-weight: 600;
    font-size: 15px;
    color: rgb(246, 242, 172);
  }
}

@media screen and (max-width: 900px) and (min-width: 520px) {
  .outer_div {
    width: 90%;
    margin: 20px 20px;
    background-color: rgb(18, 20, 58);
    box-shadow: rgb(83, 70, 70) 1px 1px 1px 1px;
    border-radius: 3px;
  }
  .pic {
    height: 120px;
    width: 100%;
    margin: 10px;
    padding: 29px;
    color: rgb(175, 175, 93);
  }
  .heading {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background-color: rgb(53, 49, 92);
  }
  .heading h3 {
    font-weight: 400;
    font-size: 15px;
    color: rgb(246, 242, 172);
  }
}

@media screen and (max-width: 520px) {
  .outer_div {
    width: 92%;
    margin: 10px 5px;
    background-color: rgb(18, 20, 58);
    box-shadow: rgb(83, 70, 70) 1px 1px 1px 1px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .pic {
    display: flex;
    align-items: center;
    display: flex;
    height: 120px;
    width: 100%;
    margin: 10px;
    padding: 20px;
    color: rgb(176, 176, 103);
  }
  .heading {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: rgb(53, 49, 92);
  }
  .heading h3 {
    font-weight: 500;
    font-size: 16px;
    color: rgb(246, 242, 172);
  }
}
