@media screen and (min-width: 900px) {
  .outer_div {
    width: 80%;
    background-color: rgb(195, 195, 238);
    box-shadow: rgb(122, 115, 115) 1px 1px 5px 2px;
    border-radius: 3px;
  }
  .outer_div:hover {
    cursor: pointer;
  }
  .pic {
    height: 130px;
    width: 100%;
    margin: 10px;
    padding: 22px;
    color: rgb(58, 57, 57);
  }
  .heading {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: rgb(233, 223, 223);
  }
  .heading h3 {
    font-size: 17px;
    color: rgb(0, 0, 0);
    text-align: center;
  }
}

@media screen and (max-width: 900px) and (min-width: 520px) {
  .outer_div {
    width: 90%;
    margin: 20px 20px;
    background-color: rgb(195, 195, 238);
    box-shadow: rgb(122, 115, 115) 1px 1px 5px 2px;
    border-radius: 3px;
  }
  .pic {
    height: 120px;
    width: 100%;
    margin: 10px;
    padding: 29px;
    color: rgb(58, 57, 57);
  }
  .heading {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background-color: rgb(233, 223, 223);
  }
  .heading h3 {
    font-weight: 600;
    font-size: 16px;
    color: rgb(0, 0, 0);
  }
}

@media screen and (max-width: 520px) {
  .outer_div {
    width: 92%;
    margin: 10px 5px;
    background-color: rgb(195, 195, 238);
    box-shadow: rgb(122, 115, 115) 1px 1px 5px 2px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .pic {
    display: flex;
    align-items: center;
    display: flex;
    height: 120px;
    width: 100%;
    margin: 10px;
    padding: 25px;
    color: rgb(58, 57, 57);
  }
  .heading {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: rgb(233, 223, 223);
  }
  .heading h3 {
    font-weight: 500;
    font-size: 16px;
    color: rgb(0, 0, 0);
  }
}
